<div class="row">
  <div class="col-md-6">
    <form #f= "ngForm" (ngSubmit)="save(f.value)">
        <div class="form-group">
          <label for="title">Title</label>
          <input ngModel name="title" id="title" type="text" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input ngModel name="price" id="price" type="number" class="form-control" required [min]="0">
          </div>
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <select ngModel name="category" id="category" class="form-control" required>
            <option value=""></option>
            <option *ngFor="let c of categories$ | async" [value]="c.$key">
              {{ c.name }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="imageUrl">Image URL</label>
          <input ngModel name="imageUrl" id="imageUrl" type="text" class="form-control" required url>
        </div>
        <button class="btn btn-primary">Save</button>
      </form>
  </div>
</div>
